body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-merriweather-sans: "Merriweather Sans";

  /* font sizes */
  --font-size-base: 16px;
  --font-size-5xl: 24px;
  --font-size-xs: 12px;

  /* Colors */
  --color-white: #fff;

  /* Border radiuses */
  --br-27xl: 46px;
  --br-6xl: 25px;
}
